
h1 {
    background-image: url(https://wallpapercave.com/wp/wp8872385.jpg);
    margin: 0;
    max-height: fit-content;
    padding: 30px;
    color: white; 
    }


    table, th, td {
      border:1px solid black;
    }
    a:hover {
      color: purple;
    }
    a:active {
      color: purple;
    }
    a {
      color: red;
    }
.motivatie {
  background-color: purple;
}
body {
  background-color: purple;
}
table {
  background-color: white;
}
.la-la-land-poster {
  display: block;
  margin-left: auto; 
  margin-right: auto;
}
.w3-sidebar-w3-bar-block {
  background-color: black;
}