.motivatie { color : yellow }
h1 {
    background-image: url(https://wallpapercave.com/wp/wp8872385.jpg);
    margin: 0;
    max-height: fit-content;
    padding: 30px;
    }


    table, th, td {
      border:1px solid black;
    }